body{
    width: 1400px;
    margin: auto;
    
}

.block-one{
    height: 600x;
    padding: 25px 200px 150px 200px;
    background-color:#1F2937 ;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 144px;
    font-family: sans-serif;
    font-size: 18px;
    box-sizing: border-box;

}

.header{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 48px;

}

.header div{
    flex: 1;
    display: flex;
}
.header div *{
    flex: 1;
    color: #e5e7eb;
    text-align: right;
}   
   
#header{
    flex: 1;
    margin:0%;
    color: #f9faf8;
    font-size: 24px;
    
}

.link{
    flex: 1;
    padding-top: 25px;

}

.below-header{
    flex: 1 1 auto;
    display: flex;
}
.below-header div{
    flex: 1;
    
}
.image-place-holder{
    background-color: gray;
    text-align: center;
    
    
}
.block-one .main-text{
    font-weight: 1000;
    font-size: 48px;
    margin: auto;

}
.secondary-text{
    margin-right: 50px;
}

.sign-up{
    background-color: #3882f6;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    height: 48px;
    width: 120px;
    font-size: 18px;
    font-weight: 900;
    color: #e5e7eb;

}


.box-two{
    height: 600px;
    background-color: white ;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 50px 300px 150px 300px;
    box-sizing: border-box;
    gap: 20px;
}

.image-box{
    display: flex;

}
.image-box div{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.image-box div .image{
    flex: 1 1 auto;
    height: 150px;
    border: solid #3882f6 5px;
    border-radius: 20%;
    margin: 16px;
    width: 150px;
}

.image-box div .text{
    margin: 5px 20px 20px 20px;
    text-align: center;
}
.box-two .main-text{
    text-align: center;
}

.box-three{
    height: 400px;
    background-color: #e5e7eb;


}

.box-four{
    background-color: white;
    height:400px
}

.footer{
    height: 100px;
    background-color: #1F2937;


}